$default: #7b7b7b;


%dmsans-700 {
  font-family: 'DMSans-Bold',
    sans-serif;
  font-weight: 700;
}

%dmsans-500 {
  font-family: 'DMSans-Medium',
    sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular',
    sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium',
    sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik-Regular',
    sans-serif;
  font-weight: 400;
}

%btn {
  background-color: #a3bbc8;
  text-transform: capitalize;
  color: #fff;
  padding: 10px 15px;
  @extend %dmsans-400;
  font-size: 14px;
  cursor: pointer;
}